<div style="text-align: right"> 
Universidad Nacional de Colombia <br>
Maestría en Ciencias - Estadística <br>
Big Data - Métodos Intensivos de Computación Estadística -2023829 <br>
Semestre 2021-1 
</div>

<div style="text-align: right"> 
Estudiante: Diego Clemente Rojas Chingate   <br>
</div>

# Dataset NYCTaxi

Dataset CSV sobre viajes de taxi durante el 2013 de aproximadamente 20GB, lanzado por FOIA (Freedom of Information Act). [Fuente](https://github.com/dask/dask-tutorial/blob/main/Homework.ipynb)

Realizar lo siguiente:

1. [Usar dask.dataframe y realizar consultas estilo Pandas.](#1.-Usar-dask.dataframe-y-realizar-consultas-estilo-Pandas.)

2. [Almacenar en HDF5 con y sin categóricos, medir el tamaño del archivo y los tiempos de consulta.](#2.-Almacenar-en-HDF5-con-y-sin-categóricos,-medir-el-tamaño-del-archivo-y-los-tiempos-de-consulta.)

3. [Establecer un índice por una de las columnas de fecha y almacenarlos en castra (también usando categóricos). Realizar un rango de consultas y medir su velocidad.](#3.-Establecer-un-índice-por-una-de-las-columnas-de-fecha-y-almacenarlos-en-castra-(también-usando-categóricos).-Realizar-un-rango-de-consultas-y-medir-su-velocidad)

4. [¿Que tamaño y complejidad de consulta se puede realizar mientras todavía se mantiene una experiencia "interactiva"?](#4.-¿Que-tamaño-y-complejidad-de-consulta-se-puede-realizar-mientras-todavía-se-mantiene-una-experiencia-"interactiva"?)

In [1]:
import os
# filename_data = os.path.join('./trip_data', 'trip_data_*.csv')
# filename_fare = os.path.join('./trip_fare', 'trip_fare_*.csv')
filename_data = os.path.join('./trip_data', 'trip_data_test.csv')
filename_fare = os.path.join('./trip_fare', 'trip_fare_test.csv')

In [2]:
import dask.dataframe as dd

df_data_csv = dd.read_csv(filename_data)
df_fare_csv = dd.read_csv(filename_fare)

# 1. Usar dask.dataframe y realizar consultas estilo Pandas.

### Primeros 10 registros de archivos "trip_data"

In [4]:
df_data_csv.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,1,N,2013-01-01 15:11:48,2013-01-01 15:18:10,4,382,1.0,-73.978165,40.757977,-73.989838,40.751171
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-06 00:18:35,2013-01-06 00:22:54,1,259,1.5,-74.006683,40.731781,-73.994499,40.750660
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,1,N,2013-01-05 18:49:41,2013-01-05 18:54:23,1,282,1.1,-74.004707,40.737770,-74.009834,40.726002
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:54:15,2013-01-07 23:58:20,2,244,0.7,-73.974602,40.759945,-73.984734,40.759388
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,1,N,2013-01-07 23:25:03,2013-01-07 23:34:24,1,560,2.1,-73.976250,40.748528,-74.002586,40.747868

### Primeros 10 registros de archivos "trip_fare"

In [5]:
df_fare_csv.head()

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
0,89D227B655E5C82AECF13C3F540D4CF4,BA96DE419E711691B9445D6A6307C170,CMT,2013-01-01 15:11:48,CSH,6.5,0.0,0.5,0.0,0.0,7.0
1,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-06 00:18:35,CSH,6.0,0.5,0.5,0.0,0.0,7.0
2,0BD7C8F5BA12B88E0B67BED28BEA73D8,9FD8F69F0804BDB5549F40E9DA1BE472,CMT,2013-01-05 18:49:41,CSH,5.5,1.0,0.5,0.0,0.0,7.0
3,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:54:15,CSH,5.0,0.5,0.5,0.0,0.0,6.0
4,DFD2202EE08F7A8DC9A57B02ACB81FE2,51EE87E3205C985EF8431D850C786310,CMT,2013-01-07 23:25:03,CSH,9.5,0.5,0.5,0.0,0.0,10.5

### Información general del dataframe de "trip_data"

In [6]:
print(df_data_csv.info())

<class 'dask.dataframe.core.DataFrame'>
Columns: 14 entries, medallion to dropoff_latitude
dtypes: object(6), float64(5), int64(3)None

### Información general del dataframe de "trip_fare"

In [7]:
print(df_fare_csv.info())

<class 'dask.dataframe.core.DataFrame'>
Columns: 11 entries, medallion to  total_amount
dtypes: object(5), float64(6)None

### Tamaños de los dataset

In [8]:
print("Tamaño dataset 'data' = (" + str(len(df_data_csv)) + ") - Tamaño dataset 'data' = (" + str(len(df_fare_csv)) + ")")

Tamaño dataset 'data' = (999) - Tamaño dataset 'data' = (999)

### Información de los tipos de columnas del dataframe de "trip_data"

In [9]:
print(df_data_csv.dtypes)

medallion              object
hack_license           object
vendor_id              object
rate_code               int64
store_and_fwd_flag     object
pickup_datetime        object
dropoff_datetime       object
passenger_count         int64
trip_time_in_secs       int64
trip_distance         float64
pickup_longitude      float64
pickup_latitude       float64
dropoff_longitude     float64
dropoff_latitude      float64
dtype: object

### Información general del dataframe de "trip_fare"

In [10]:
print(df_fare_csv.dtypes)

medallion            object
 hack_license        object
 vendor_id           object
 pickup_datetime     object
 payment_type        object
 fare_amount        float64
 surcharge          float64
 mta_tax            float64
 tip_amount         float64
 tolls_amount       float64
 total_amount       float64
dtype: object

### Estadísticas descriptivas del dataset "trip_data"

In [12]:
print(df_data_csv.describe().compute())

        rate_code  passenger_count  trip_time_in_secs  trip_distance  \
count  999.000000       999.000000         999.000000     999.000000
mean     1.046046         2.017017         643.824825       3.319049
std      0.346586         1.665009         454.775694       3.583829
min      1.000000         1.000000           0.000000       0.000000
25%      1.000000         1.000000         300.000000       1.135000
50%      1.000000         1.000000         540.000000       2.020000
75%      1.000000         2.000000         840.000000       3.975000
max      5.000000         6.000000        3780.000000      28.670000

       pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude
count        999.000000       999.000000         999.000000        999.000000
mean         -72.569197        39.974205         -72.562249         39.975491
std           10.109643         5.568862          10.108702          5.569085
min          -74.016403         0.000000         -74.182938          0.000000
25%          -73.992455        40.729956         -73.990387         40.733081
50%          -73.983078        40.750572         -73.977776         40.753883
75%          -73.966793        40.766497         -73.957184         40.770370
max            0.000000        40.889069           0.000000         40.889069

### Estadísticas descriptivas del dataset "trip_fare"

In [13]:
print(df_fare_csv.describe().compute())

        fare_amount   surcharge     mta_tax   tip_amount   tolls_amount  \
count    999.000000  999.000000  999.000000   999.000000     999.000000
mean      12.740741    0.238238    0.498498     0.916296       0.243493
std       10.647092    0.271932    0.027372     1.894161       1.130541
min        2.500000    0.000000    0.000000     0.000000       0.000000
25%        6.500000    0.000000    0.500000     0.000000       0.000000
50%        9.000000    0.000000    0.500000     0.000000       0.000000
75%       15.000000    0.500000    0.500000     1.300000       0.000000
max      107.500000    1.000000    0.500000    21.600000      10.250000

        total_amount
count     999.000000
mean       14.637267
std        12.260814
min         3.000000
25%         7.500000
50%        10.500000
75%        16.900000
max       134.900000

### Correlación entre columnas del dataset "trip_data"

In [16]:
print(df_data_csv.corr().compute())

                   rate_code  passenger_count  trip_time_in_secs  \
rate_code           1.000000        -0.013514           0.151548
passenger_count    -0.013514         1.000000           0.044169
trip_time_in_secs   0.151548         0.044169           1.000000
trip_distance       0.257194         0.045944           0.848532
pickup_longitude    0.172270         0.007297          -0.034643
pickup_latitude    -0.171898        -0.007182           0.034032
dropoff_longitude   0.172416         0.007497          -0.033598
dropoff_latitude   -0.172070        -0.007470           0.033809

                   trip_distance  pickup_longitude  pickup_latitude  \
rate_code               0.257194          0.172270        -0.171898
passenger_count         0.045944          0.007297        -0.007182
trip_time_in_secs       0.848532         -0.034643         0.034032
trip_distance           1.000000         -0.012300         0.011982
pickup_longitude       -0.012300          1.000000        -0.999982
pickup_latitude         0.011982         -0.999982         1.000000
dropoff_longitude      -0.011363          0.999989        -0.999979
dropoff_latitude        0.012065         -0.999972         0.999981

                   dropoff_longitude  dropoff_latitude
rate_code                   0.172416         -0.172070
passenger_count             0.007497         -0.007470
trip_time_in_secs          -0.033598          0.033809
trip_distance              -0.011363          0.012065
pickup_longitude            0.999989         -0.999972
pickup_latitude            -0.999979          0.999981
dropoff_longitude           1.000000         -0.999969
dropoff_latitude           -0.999969          1.000000

### Correlación entre columnas del dataset "trip_fare"

In [15]:
print(df_fare_csv.corr().compute())

                fare_amount   surcharge   mta_tax   tip_amount   tolls_amount  \
 fare_amount       1.000000    0.101299 -0.207627     0.435038       0.527863
 surcharge         0.101299    1.000000  0.048106    -0.004141      -0.053783
 mta_tax          -0.207627    0.048106  1.000000    -0.260911      -0.320064
 tip_amount        0.435038   -0.004141 -0.260911     1.000000       0.324411
 tolls_amount      0.527863   -0.053783 -0.320064     0.324411       1.000000
 total_amount      0.986049    0.104654 -0.246820     0.561508       0.598806

                total_amount
 fare_amount        0.986049
 surcharge          0.104654
 mta_tax           -0.246820
 tip_amount         0.561508
 tolls_amount       0.598806
 total_amount       1.000000

### ¿Cúantos servicios de taxi por compañia?

In [37]:
df_data_csv.groupby('vendor_id').vendor_id.count().compute()

vendor_id
CMT    157
VTS    842
Name: vendor_id, dtype: int64

### ¿Cúal fue el viaje con más duración?

In [74]:
df_data_csv[df_data_csv["trip_time_in_secs"] == df_data_csv["trip_time_in_secs"].max()].compute()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
421,ED9B6E969C35E16314E6863A95D83B5F,1067C6EE7965AACBCA7395DC2F497AE6,VTS,4,NaN,2013-01-13 03:46:00,2013-01-13 04:49:00,5,3780,28.67,-73.984245,40.728863,-73.706665,40.838978

### ¿Cúal(es) fue el viaje con menos duración?

In [75]:
df_data_csv[df_data_csv["trip_time_in_secs"] == df_data_csv["trip_time_in_secs"].min()].compute()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
324,D83BF451B46974F22850BA3DBBA7729E,70211D5E293D6F009DC28965639A2EC2,VTS,2,NaN,2013-01-13 11:14:00,2013-01-13 11:14:00,1,0,0.01,-73.991867,40.758301,-73.985252,40.755203
473,D57C7392455C38D9404660F7BC63D1B6,8B32D59D8277E765E95BC45565C120F3,VTS,5,NaN,2013-01-13 11:10:00,2013-01-13 11:10:00,1,0,0.00,0.000000,0.000000,0.000000,0.000000
859,19BF1BB516C4E992EA3FBAEDA73D6262,E4CAC9101BFE631554B57906364761D3,VTS,2,NaN,2013-01-13 10:33:00,2013-01-13 10:33:00,5,0,0.00,0.000000,0.000000,0.000000,0.000000
899,D57C7392455C38D9404660F7BC63D1B6,EC5837D805127379D72FF6C35279890B,VTS,1,NaN,2013-01-13 04:58:00,2013-01-13 04:58:00,1,0,0.05,0.000000,0.000000,0.000000,0.000000

### ¿Cúal fue el viaje con mayor distancia?

In [76]:
df_data_csv[df_data_csv["trip_distance"] == df_data_csv["trip_distance"].max()].compute()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
421,ED9B6E969C35E16314E6863A95D83B5F,1067C6EE7965AACBCA7395DC2F497AE6,VTS,4,NaN,2013-01-13 03:46:00,2013-01-13 04:49:00,5,3780,28.67,-73.984245,40.728863,-73.706665,40.838978

### ¿Cúal fue el viaje con menor distancia?

In [77]:
df_data_csv[df_data_csv["trip_distance"] == df_data_csv["trip_distance"].min()].compute()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
88,20D9ECB2CA0767CF7A01564DF2844A3E,598CCE5B9C1918568DEE71F43CF26CD2,CMT,1,N,2013-01-08 07:51:16,2013-01-08 07:51:20,1,4,0.0,-73.945396,40.802090,-73.945412,40.802025
308,66764B77F96DF43315499D73AA6DD84E,FA094478696E177A9724AAE5C5CF977C,VTS,1,NaN,2013-01-13 11:11:00,2013-01-13 11:13:00,1,120,0.0,-74.004791,40.725842,-74.004868,40.725876
473,D57C7392455C38D9404660F7BC63D1B6,8B32D59D8277E765E95BC45565C120F3,VTS,5,NaN,2013-01-13 11:10:00,2013-01-13 11:10:00,1,0,0.0,0.000000,0.000000,0.000000,0.000000
496,2886A4D0E61E8FAD6604A02A50F1A318,E3199D5923AEBE5B40A822068CACC8D0,VTS,5,NaN,2013-01-13 04:51:00,2013-01-13 04:52:00,1,60,0.0,-73.861534,40.889069,-73.861534,40.889069
622,232840CC49C3846876B29C434104F356,C740F0FCA87B7F2C5E0B779D19BA3504,VTS,5,NaN,2013-01-13 04:38:00,2013-01-13 04:39:00,2,60,0.0,0.000000,0.000000,0.000000,0.000000
859,19BF1BB516C4E992EA3FBAEDA73D6262,E4CAC9101BFE631554B57906364761D3,VTS,2,NaN,2013-01-13 10:33:00,2013-01-13 10:33:00,5,0,0.0,0.000000,0.000000,0.000000,0.000000

### ¿Cúantos viajes por cantidad de pasajeros?

In [78]:
df_data_csv.groupby('passenger_count').passenger_count.count().compute()

passenger_count
1    643
2    125
3     38
4     24
5    102
6     67
Name: passenger_count, dtype: int64

### ¿Cúantos viajes por tipo de pago?

In [93]:
df_fare_csv.groupby(' payment_type')[" payment_type"].count().compute()

 payment_type
CRD    387
CSH    609
DIS      2
NOC      1
Name:  payment_type, dtype: int64

### ¿Cúal fue el viaje más costoso?

In [99]:
df_fare_csv[df_fare_csv[" total_amount"] == df_fare_csv[" total_amount"].max()].compute()

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
421,ED9B6E969C35E16314E6863A95D83B5F,1067C6EE7965AACBCA7395DC2F497AE6,VTS,2013-01-13 03:46:00,CRD,107.5,0.5,0.5,21.6,4.8,134.9

### ¿Cúal fue el viaje menos costoso?

In [102]:
df_fare_csv[df_fare_csv[" total_amount"] == df_fare_csv[" total_amount"].min()].compute()

,medallion,hack_license,vendor_id,pickup_datetime,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount
88,20D9ECB2CA0767CF7A01564DF2844A3E,598CCE5B9C1918568DEE71F43CF26CD2,CMT,2013-01-08 07:51:16,NOC,2.5,0.0,0.5,0.0,0.0,3.0

### ¿Cúanto dinero suma en ventas cada vendedor?

In [125]:
df_fare_csv.groupby(' vendor_id')[" total_amount"].sum().compute()

 vendor_id
CMT     1910.40
VTS    12712.23
Name:  total_amount, dtype: float64

### ¿Cúal fue el viaje mas costoso por tipo de vendedor?

In [126]:
df_fare_csv.groupby(' vendor_id')[" total_amount"].max().compute()

 vendor_id
CMT     57.3
VTS    134.9
Name:  total_amount, dtype: float64

### ¿Cúanto dinero en propinas recolectó cada empresa?

In [127]:
df_fare_csv.groupby(' vendor_id')[" tip_amount"].sum().compute()

 vendor_id
CMT      0.00
VTS    915.38
Name:  tip_amount, dtype: float64

### ¿Cúanto dinero en impuestos recolectó cada empresa?

In [128]:
df_fare_csv.groupby(' vendor_id')[" mta_tax"].sum().compute()

 vendor_id
CMT     78.5
VTS    419.5
Name:  mta_tax, dtype: float64

### ¿Cúanto dinero de ventas suma por cada tipo de pago?

In [129]:
df_fare_csv.groupby(' payment_type')[" total_amount"].sum().compute()

 payment_type
CRD    6481.13
CSH    8127.00
DIS      11.50
NOC       3.00
Name:  total_amount, dtype: float64

### ¿Cúal fue el viaje mas costoso por cantidad de pasajeros?

In [122]:
df_data_csv.set_index("medallion").join(df_fare_csv.set_index("medallion")).groupby('passenger_count')[" total_amount"].sum().compute()

passenger_count
1    11930.25
2     2255.19
3      857.60
4      429.98
5     1694.23
6      985.15
Name:  total_amount, dtype: float64

### ¿Cúanto dinero suma según calificación del viaje?

In [131]:
df_data_csv.set_index("medallion").join(df_fare_csv.set_index("medallion")).groupby('rate_code')[" total_amount"].sum().compute()

rate_code
1    16574.00
2      885.50
3      169.25
4      284.40
5      239.25
Name:  total_amount, dtype: float64

# 2. Almacenar en HDF5 con y sin categóricos, medir el tamaño del archivo y los tiempos de consulta.

### Lectura de archivos CSV

In [1]:
import os
import dask.dataframe as dd
from dask.distributed import Client

client = Client(n_workers=4)
filename_data = os.path.join('./trip_data', 'trip_data_10.csv')
filename_fare = os.path.join('./trip_fare', 'trip_fare_10.csv')
df_data_csv = dd.read_csv(filename_data)
df_fare_csv = dd.read_csv(filename_fare)

### Tiempo que toma guardar los 2 archivos CSV anteriores con todos los datos incluyendo las columnas de datos categóricos como un solo archivo HSF5

In [2]:
path_trip_with_h5 = "trip_with_categorical.h5"

%time df_data_csv.to_hdf(path_trip_h5, "/data")
%time df_fare_csv.to_hdf(path_trip_h5, "/fare")

CPU times: user 10.3 s, sys: 1.61 s, total: 11.9 s
Wall time: 3min 39s
CPU times: user 9.68 s, sys: 1.6 s, total: 11.3 s
Wall time: 3min 39s

['trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5',
 'trip_with_categorical.h5']

### Tiempo que toma guardar los 2 archivos CSV anteriores con todos los datos eliminando las columnas de datos categóricos como un solo archivo HSF5

In [7]:
df_data_csv = df_data_csv.drop(columns=[' vendor_id', ' rate_code', ' store_and_fwd_flag'])
df_fare_csv = df_fare_csv.drop(columns=[' vendor_id', ' payment_type'])

path_trip_without_h5 = "trip_without_categorical.h5"

%time df_data_csv.to_hdf(path_trip_h5, "/data")
%time df_fare_csv.to_hdf(path_trip_h5, "/fare")

CPU times: user 10.5 s, sys: 1.73 s, total: 12.2 s
Wall time: 3min 42s
CPU times: user 8.21 s, sys: 1.31 s, total: 9.52 s
Wall time: 2min 55s

['trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5',
 'trip_without_categorical.h5']

### Tamaño de todos los archivos trabajados en este segundo punto

In [18]:
file_size_data = os.path.getsize('./trip_data/trip_data_10.csv')
file_size_fare = os.path.getsize('./trip_fare/trip_fare_10.csv')
file_h5_size_with_data = os.path.getsize(path_trip_with_h5)
file_h5_size_without_data = os.path.getsize(path_trip_without_h5)

print("El tamaño del archivo './trip_data/trip_data_10.csv' es:\t\t\t", file_size_data, "bytes")
print("El tamaño del archivo './trip_data/trip_fare_10.csv' es:\t\t\t", file_size_fare, "bytes")
print("El tamaño del archivo HDF5 con categóricos '" + path_trip_with_h5 + "' es:\t", file_h5_size_with_data, "bytes")
print("El tamaño del archivo HDF5 sin categóricos '" + path_trip_without_h5 + "' es:\t", file_h5_size_without_data, "bytes")

El tamaño del archivo './trip_data/trip_data_10.csv' es:			 2502278613 bytes
El tamaño del archivo './trip_data/trip_fare_10.csv' es:			 1712562557 bytes
El tamaño del archivo HDF5 con categóricos 'trip_with_categorical.h5' es:	 7219296367 bytes
El tamaño del archivo HDF5 sin categóricos 'trip_without_categorical.h5' es:	 5178432561 bytes

### Lectura de los archivos HSF5 generados anteriormente

In [3]:

df_data_with_h5 = dd.read_hdf(path_trip_with_h5, "/data")
df_fare_with_h5 = dd.read_hdf(path_trip_with_h5, "/fare")
df_data_without_h5 = dd.read_hdf(path_trip_without_h5, "/data")
df_fare_without_h5 = dd.read_hdf(path_trip_without_h5, "/fare")

## Algunas consultas con las medidas de tiempo

### Suma de la columna "trip_distance" para el archivo CSV, HFS5 con categóricos y HFS5 sin categóricos

In [11]:
%time df_data_with_h5[" trip_distance"].sum().compute()
%time df_data_without_h5[" trip_distance"].sum().compute()
%time df_data_csv[" trip_distance"].sum().compute()

CPU times: user 10.3 s, sys: 1.84 s, total: 12.1 s
Wall time: 3min 53s
CPU times: user 9.08 s, sys: 1.59 s, total: 10.7 s
Wall time: 3min 17s
CPU times: user 4.31 s, sys: 856 ms, total: 5.17 s
Wall time: 1min 45s

44247336.879999995

### Suma de la columna de la columna "total_amount" para el archivo CSV, HFS5 con categóricos y HFS5 sin categóricos

In [4]:
%time df_fare_with_h5[" total_amount"].sum().compute()
%time df_fare_without_h5[" total_amount"].sum().compute()
%time df_fare_csv[" total_amount"].sum().compute()

CPU times: user 8.86 s, sys: 1.49 s, total: 10.4 s
Wall time: 3min 31s
CPU times: user 6.01 s, sys: 967 ms, total: 6.98 s
Wall time: 2min 15s
CPU times: user 3.49 s, sys: 619 ms, total: 4.11 s
Wall time: 1min 22s

227890393.16

### Valor máximo de la columna "trip_distance" para el archivo CSV, HFS5 con categóricos y HFS5 sin categóricos

In [5]:
%time df_data_with_h5[" trip_distance"].max().compute()
%time df_data_without_h5[" trip_distance"].max().compute()
%time df_data_csv[" trip_distance"].max().compute()

CPU times: user 11.1 s, sys: 1.87 s, total: 12.9 s
Wall time: 4min 16s
CPU times: user 9.1 s, sys: 1.44 s, total: 10.5 s
Wall time: 3min 23s
CPU times: user 3.92 s, sys: 656 ms, total: 4.58 s
Wall time: 1min 36s

100.0

### Valor mínimo de la columna "total_amount" para el archivo CSV, HFS5 con categóricos y HFS5 sin categóricos

In [6]:
%time df_fare_with_h5[" total_amount"].min().compute()
%time df_fare_without_h5[" total_amount"].min().compute()
%time df_fare_csv[" total_amount"].min().compute()

CPU times: user 9.18 s, sys: 1.43 s, total: 10.6 s
Wall time: 3min 28s
CPU times: user 7.25 s, sys: 1.09 s, total: 8.34 s
Wall time: 2min 42s
CPU times: user 4.38 s, sys: 657 ms, total: 5.03 s
Wall time: 1min 30s

2.5

In [ ]:
client.shutdown()

# 3. Establecer un índice por una de las columnas de fecha y almacenarlos en castra (también usando categóricos). Realizar un rango de consultas y medir su velocidad

In [ ]:
from castra import Castra
import os
import dask.dataframe as dd
import pandas as df

filename_data = os.path.join('./trip_data', 'trip_data_test.csv')
filename_fare = os.path.join('./trip_fare', 'trip_fare_test.csv')
df_data_csv = dd.read_csv(filename_data)
df_fare_csv = dd.read_csv(filename_fare)

## NOTA: Para este punto no fue posible lograr hacer funcionar Castra, esta librería tuvo su último aporte a su repositorio en 2016, por lo que la compatibilidad y conflictos con otras dependencias, hace muy complicado lograr el entorno requerido, a pesar de intentar con versiones de 2016 de librerías como Pandas, Dask, Numpy, etc junto con Python 2.7, no funcionó de ninguna forma. Sin embargo se deja el código correspondiente a lo requerido.

In [ ]:
castra_data = df = dd.from_castra('trip_data.castra')
castra_fare = df = dd.from_castra('trip_fare.castra')

### Suma de la columna "trip_distance" para el archivo CSV, HFS5 con categóricos y HFS5 sin categóricos

In [ ]:
%time castra_data[" trip_distance"].sum().compute()

### Suma de la columna de la columna "total_amount" para el archivo CSV, HFS5 con categóricos y HFS5 sin categóricos

In [ ]:
%time castra_fare[" total_amount"].sum().compute()

### Valor máximo de la columna "trip_distance" para el archivo CSV, HFS5 con categóricos y HFS5 sin categóricos

In [ ]:
%time castra_data[" trip_distance"].max().compute()

### Valor mínimo de la columna "total_amount" para el archivo CSV, HFS5 con categóricos y HFS5 sin categóricos

In [ ]:
%time castra_fare[" total_amount"].min().compute()

# 4. ¿Que tamaño y complejidad de consulta se puede realizar mientras todavía se mantiene una experiencia "interactiva"?

Para el equipo con el que se realizo este cuaderno (12GB de Ram y un procesador de 4 núcleos a 2.1Gz), cuando no se usa "dask.distributed" y se intenta hacer un calculo, consulta o guardar el dataframe en un archivo puede llegar a dejar sin RAM el equipo a partir de archivos de 6GB pero cuando se usa "dask.distributed" se hace una mejor gestión de la memoria y la RAM no se consume totalmente por los procesos Dask permitiendo terminar cualquier tarea aunque por ejemplo para el caso de 6GB puede demorarse considerablemente, los archivos a partir de 2~4GB se empiezan a demorarse varios minutos especialmente en los calculos o alguna consulta por lo cual para tener una experiencia interactiva en el cuaderno Jupyter para este equipo, se puede lograr con archivos que su tamaño sea menor a 1GB.